@page "/Vehicles"

@using Application.DTOs.Vehicles;
@using Domain.Entity.Vehicles;
@using Domain.ErrorManagement;
@using Infrastructure.Services;
@using CurrieTechnologies.Razor.SweetAlert2;

@inject SweetAlertService Swal;
@inject IVehicleService VehicleService;

<PageTitle>TurboZone - Vehículos</PageTitle>

<div class="cuerpov">
    <div>
        <h3>culos</h3>
    </div>

    <a class="btn btn-success btn-sm mb-3" href="vehicle">Nuevo vehículo</a>

    <table>
        <thead>
            <tr>
                <th>Año</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Precio</th>
                <th>Condición</th>
                <th>Motor</th>
                <th>Tipo</th>
                <th>Asientos</th>
                <th>Color exterior</th>
                <th>Color interior</th>
                <th>Combustible</th>
                <th>Transmisión</th>
                <th>Kilometraje</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if(listaVehicle == null)
            {
                <tr>
                    <td colspan="14" align="center">
                        <img style="width:50px" src="https://media.tenor.com/On7kvXhzml4AAAAj/loading-gif.gif"/>
                    </td>
                </tr>
            } 
            else
            {
                @foreach(var item in listaVehicle)
                {
                    <tr>
                        <td>@item.Year</td>
                        <td>@item.Brand</td>
                        <td>@item.Model</td>
                        <td>US$ @item.Price</td>
                        <td>@item.Condition</td>
                        <td>@item.Motor</td>
                        <td>@item.Type</td>
                        <td>@item.Seats</td>
                        <td>@item.ExteriorColor</td>
                        <td>@item.InteriorColor</td>
                        <td>@item.FuelType</td>
                        <td>@item.Transmission</td>
                        <td>@item.Mileage KM</td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="vehicle/@item.VehicleId">
                                <img src="~/Images/edit.png"/>
                            </a>
                            <button type="button" class="btn btn-danger btn-sm ms-2" @onclick="(() => Eliminar(item.VehicleId))">
                                <img src="~/Images/delete.png" />
                            </button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@code {
    List<VehicleDTO>? listaVehicle = null;

    protected override async Task OnInitializedAsync()
    {
        listaVehicle = await VehicleService.Lista();
    }

    private async Task Eliminar(int id)
    {
        var resultado = await Swal.FireAsync(new SweetAlertOptions
        {
            Title = "Eliminar vehículo",
            Text = "¿Desea eliminar el vehículo seleccionado?",
            Icon = SweetAlertIcon.Question,
            ShowCancelButton = true
        });

        if(resultado.IsConfirmed)
        {
            var eliminado = await VehicleService.Eliminar(id);

            if (eliminado)
                listaVehicle = listaVehicle!.FindAll(e => e.VehicleId != id);
        }
    }
}